.leaderboard-container {
  .nav {
    padding-left: 2rem;
  }

  // .timing {
  //   display: block;
  //   padding: 0.375rem 2.25rem 0.375rem 0.75rem;

  //   font-weight: 400;
  //   line-height: 1.5;
  //   appearance: none;

  //   color: #212529;
  //   background-color: #fff;

  //   border: 1px solid #ced4da;
  //   border-radius: 0.375rem;

  //   background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'><path fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/></svg>");

  //   background-repeat: no-repeat;
  //   background-position: right 0.75rem center;
  //   background-size: 16px 12px;
  // }

  .rank-list {
    padding: 0.5rem;
    overflow: auto;

    .list-item {
      padding: 0.5rem 1rem;
      display: flex;
      font-weight: 700;

      &:first-child .rank {
        color: #f0d121;
      }

      &:nth-child(2) .rank {
        color: #c0c0c0;
      }

      &:nth-child(3) .rank {
        color: #993333;
      }

      &:nth-child(n + 4) {
        font-weight: 400;
        span {
          color: black;
        }
      }
    }

    .rank {
      position: relative;
      margin-right: 1rem;
      color: transparent;

      display: flex;
      align-items: center;
      justify-content: center;

      span {
        color: white;
        position: absolute;
        font-weight: 700;
      }
    }

    .score {
      margin-left: auto;
    }
  }

  /* Scrollbar */
  .rank-list {
    &::-webkit-scrollbar {
      width: 5px;
    }

    &::-webkit-scrollbar-track {
      background: #f8f9fa;
    }

    &::-webkit-scrollbar-thumb {
      background: #adb5bd;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: #495057;
    }

    &::-webkit-scrollbar-thumb:active {
      background: #212529;
    }
  }
}
