.quiz-box {
  nav {
    padding: 0.7rem 1.5rem;
    position: relative;

    @include light-shadow();
  }

  main {
    padding: 2rem;

    font-size: 1.9rem;
    text-align: center;

    p {
      display: inline;
    }
  }

  footer {
    padding: 0.5rem 1.5rem;
    border: none;

    display: flex;
    align-items: center;
    justify-content: space-between;

    button.btn {
      display: none;
    }
  }

  .option-list {
    margin-top: 20px;
    list-style: none;

    .option {
      display: inline-block;

      padding: 0.7rem 1rem;
      margin-bottom: 10px;

      width: 100px;
      background-color: aliceblue;

      border: 1px solid #84c5fe;
      border-radius: 5px;

      &:hover {
        color: #004085;
        background: #cce5ff;
        border-color: #b8daff;
      }

      &.correct {
        color: #23903c;
        border-color: #23903c;
        background: #d4edda;
      }

      &.wrong {
        color: #721c24;
        border-color: #a42834;
        background: #f8d7da;
      }

      &.disabled {
        pointer-events: none;
      }
    }
  }

  .pill {
    justify-content: space-between;
    padding-left: .5rem;

    min-width: 130px;
    font-size: 1rem;

    .pill-badge {
      font-size: 1.1rem;
    }
  }

  .time-line {
    width: 100%;
    height: 3px;

    background: #007bff;
    position: absolute;

    bottom: 0px;
    left: 0px;
  }
}
