.update-container, .register-container {
  nav { border-bottom: 0px }

  main {
    padding: 1.5rem;
    padding-top: 0;

    input,
    button {
      width: 100%;
      padding: 0.75rem 1rem;
      font-size: 1rem;

      border: 1px solid #333;
      border-radius: 4px;
    }
  }

  .loading {
    display: none;

    &.active {
      display: block;
    }
  }

  .loading.active ~ .input-container {
    display: none;
  }
}


.input-text input {
  margin-bottom: 10px;

  &:focus { outline: 1px solid #000 }
}

.input-button button {
  color: #fff;
  background: #000;
  cursor: pointer;

  &:hover  { background: #111 }
  &:active { background: #000 }
}
